{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="top_home">
            <img src="{{ asset('img/bg_small.jpg') }}" class="img_bg">
            <div class="titre animate__animated animate__fadeIn">
                <h1>Maitrise Web</h1>
                <h3>Page de contact</h3>
            </div>
        </div>

        <div class="title">
            <h3>Une question ? Un projet ?</h3>
            <h4>Contactez-nous via notre formulaire de contact.</h4>
        </div>

        <div class="sepa"></div>

        <div class="container_contact">
            <form action="" method="post" class="form_contact">
                <div class="client">
                    <div class="name">
                        <label for="name">Nom :</label>
                        <input type="text" name="name" placeholder="Nom" required>
                    </div>

                    <div class="name">
                        <label for="firstname">Prénom :</label>
                        <input type="text" name="firstname" placeholder="Prénom" required>
                    </div>
                </div>

                <div class="form_content">
                    <label for="mail">Adresse mail :</label>
                    <input type="mail" name="mail" placeholder="Adresse mail" required>
                </div>

                <div class="form_content">
                    <label for="subject">Sujet :</label>
                    <input type="text" name="subject" placeholder="Sujet" required>
                </div>

                <div class="form_content">
                    <label for="message">Message :</label>
                    <textarea name="message" placeholder="Message" required></textarea>
                </div>

                <input type="submit" placeholder="Envoyer" class="envoi">
            </form>
        </div>
    </div>
{% endblock %}