{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, animi! Neque nobis doloremque nihil beatae, omnis veritatis sint molestias non sequi corrupti optio tempora blanditiis consequatur. Voluptatibus quas earum ipsam.</p>
    </div>
{% endblock %}