{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            <h1>Maitrise Web</h1>
            <h2>Agence de Communication Digitale & Création de Site Internet</h3>
        </div>
    </div>
{% endblock %}