{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="top_home">
            <img src="{{ asset('img/bg_small.jpg') }}" class="img_bg">
            <div class="titre animate__animated animate__fadeIn">
                <h1>Maitrise Web</h1>
                <h3>Page de présentation</h3>
            </div>
        </div>

        <div class="title">
            <h4>Créative & efficace, l’Agence Maitrise Web est une agence de communication à taille humaine.</h4>
            <p>Notre agence vous accompagne dans la promotion de vos produits ou services. Conscient que les moyens de mise en valeur sont de plus en plus important, nos experts dans la conception et le référencement mettent leur savoir-faire à votre disposition pour vous démarquer sur l’ensemble des supports numériques, et cela dans toute la france.</p>
        </div>
    </div>
{% endblock %}