{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="top_home">
            <img src="{{ asset('img/bg_small.jpg') }}" class="img_bg">
            <div class="titre animate__animated animate__fadeIn">
                <h1>Maitrise Web</h1>
                <h3>Page de nos réalisations</h3>
            </div>
        </div>

        <div class="title">
            <h3>Nos projets & créations</h3>
            <h4>Retrouvez ici nos projets finis.</h4>
        </div>

        <div class="sepa"></div>

        <div class="title">
            <h3>Nos différents projets réalisés</h3>
        </div>

        <div class="container_categorie">
            <div class="cate" onclick="GoToPage('tout')" >
                <p>Tout</p>
            </div>

            <div class="cate" onclick="GoToPage('vitrine')">
                <p>Site vitrine</p>
            </div>

            <div class="cate" onclick="GoToPage('ecommerce')">
                <p>Site e-commerce</p>
            </div>
        </div>

        <div id="container_proj">
            {% include "pages/if/if_tout.html.twig" %}
        </div>

        <div class="sepa"></div>

        <div class="redirect">
            <h5>Envie de nous parler de vos projets ?</h5>
            <a href="{{ path('contact') }}">Contatez-nous</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/filtre_projets.js') }}"></script>
{% endblock %}